<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practica 1 - Inteligencia Artificial 1</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style type="text/css">
.flexbox-container {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
}

.flexbox-container > div {
        width: 50%;
        padding: 10px;
}

.flexbox-container > div:first-child {
        margin-right: 20px;
}

textarea {
    overflow-y: scroll;
    height: 500px;
    resize: none;
}
</style>


    <div class="flexbox-container">
	<div><h3> </h3>

    <form action="/analizar" method="POST" enctype="multipart/form-data" style="margin: 70px" Type="submit">
        <div class="custom-file">
        <input id="imagenes" name="imagenes" type="file" multiple="true" />
        <label class="custom-file-label" for="imagenes"></label>
        </div>

        </br>
        </br>

          <input type="submit" value="Analizar"/>

        </br>
        </br>


        {%for i in range(0, len)%}
            </br>
            </br>
            <img src="../static/Predecir/{{a2[i]}}" width="100px" height="100px">
            <label class="custom-file-label">{{a1[i]}}</label>
        {%endfor%}



    </form>




    </div>


	<div><h3>Consola:</h3>


    <textarea name="textarea" rows="50" cols="80">
        {{a3}}
    </textarea>


    </div>
    </div>

</head>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<body>

</body>
</html>